<!DOCTYPE html>
<!--[if lt IE 7]>       <html class="n0-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>          <html class="n0-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>          <html class="n0-js lt-ie9"> <![endif]-->
<!--[if gt IE 7]>       <html class="n0-js"> <![endif]-->
{% load static %}
<html>
{% include 'nav.html' %}

{% block content %}
                    
{% endblock content %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-AU-Compatible" content="IE-edge">
    <title>BATLA ERP System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
</head>   
<div>
    <br>
    <body>
        <h1>BATLA Short Loan Schemes</h1>
        <br>
        <p> If interested in applying for a BATLA short loan scheme, download the pdf file below, fill it and utilize the submit button to hand in your submission</p>
        <a href="{% url 'pdf-loan' %}"><button class="align-center">Download PDF</button></a>
        <a href="{% url 'create-loan' %}"><button class="align-center">Submit here</button></a>
    </div>
</body>
<br>

<footer>
    {%include 'footer.html'%}
</footer>
</html>
