<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" contect="width=device-width, initial scale=1.0">
        <title>BATLA Login Page</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="login-box">
            <img src="logo.png" class="logo">
            <h2>You have successfully created an account! Please follow the link below to your personal account details</h2>
            <a href="#">Click to go to portal</a>
        </div>
    </body>
</html>