<!DOCTYPE html>
<html>
    <div class="container" data-0="transform:translateX(0%);" data-1000="transform:translateX(-300%);"></div>
            <section>
                <div class="text_content">
                    <h2>Contact Us</h2>
                    <br>
                    </h1>Telphone Number</h1> <p>; 3928385</p>
                </div>
            </div>
            </section>
        </div>
        <script type="text/javascript" src="skrollr.js"></script>
        <script type="text/javascript">
            var s = skrollr.init();
        </script>
        <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
        <script>
            var typed = new Typed(".auto-type", {
                strings: ["BATLA PORTAL", "WELCOME EXECUTIVES", "WELCOME FOCALS"],
                typeSpeed: 80,
                backSpeed: 80,
                loop: true
            })
        </script>
    </body>
</html>