<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" contect="width=device-width, initial scale=1.0">
        <title>BATLA Login Page</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="login-box">
            <img src="logo.png" class="logo">
            <h2>Login</h2>
            <hr>
            <span>Or</span>
            <form>
                <input tye="text" placeholder="Input Password">
                <input tye="text" placeholder="Confirm Password">
                <button>Next</button>
            </form>
        </div>
    </body>
</html>