<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BATLA members portal</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <section>
            <div class="navbar">
                <div class="logo"><img src="logo.png" class="logo"></div>
                <ol class="menuitems">
                    <li><a href="main.html">Main Page</a></li>
                    <li><a href="Login.html">Login</a></li>
                    <li><a href="Signup.html">Sign Up</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ol>
            </div>
        </section>
        <div class="container" data-0="transform:translateX(0%);" data-1000="transform:translateX(-300%);">
            <section>
                <div class="text_content">
                    <h2>... <span class="auto-type"></span></h2>
                    <p>Welcome to BATLA's portal. The main aim of this portal is to officially input our new members' information for use in future and also to assist with logging or giving access to BATLA's many provided benefits to its members. Congratulations and good luck on the beginning of your term! </p>
                </div>
                <div class="image_container">
                    <div class="imgbox">
                        <img src="Logo1.jpeg" alt="user pic">
                    </div>
                    </div>
            </section>
            <div class="container" data-0="transform:translateX(0%);" data-1000="transform:translateX(-300%);"></div>
            <section>
                <div class="text_content">
                    <h2>Contact Us</h2>
                    <br>
                    </h1>Telphone Number</h1> <p>; 3928385</p>
                </div>
            </div>
            </section>
        </div>
        <script type="text/javascript" src="skrollr.js"></script>
        <script type="text/javascript">
            var s = skrollr.init();
        </script>
        <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
        <script>
            var typed = new Typed(".auto-type", {
                strings: ["BATLA PORTAL", "WELCOME EXECUTIVES", "WELCOME FOCALS"],
                typeSpeed: 80,
                backSpeed: 80,
                loop: true
            })
        </script>
    </body>
</html>