<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BATLA members portal</title>
        <link rel="stylesheet" href="Profile.css">
    </head>
    <body>
        <div class="container">
            <div class="side-nav">
                <div class="user">
                    <img src="user.png" class="user-img">
                    <div>
                        <h2> Thomas Daniel</h2>
                        <p>abc@gmail.com</p>
                    </div>
                    <img src="star.png" class="star-img">
                </div>
                <ul>
                    <li><img src="#"><p>Position</p></li>
                    <li><img src="#"><p>Land Board</p></li>
                    <li><img src="#"><p>ID_Number</p></li>
                    <li><img src="#"><p>Date Of Birth</p></li>
                </ul>

                <ul>
                    <li><img src="#"><p>Logout</p></li>
                </ul>
            </div>
        </div>
    </body>